<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--TODO: be more thorough here -->
    <display-name>Student Support Network Server Application</display-name>
    <description>
        Backend Server
    </description>

    <servlet>
        <servlet-name>ssn-servlet</servlet-name>
        <servlet-class>edu.pdx.ssn.Server</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ssn-servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
